:root {
  --back-color: rgb(63, 56, 56);
  --back-color-menu: rgb(32, 29, 29);
  --white-color: #fff;
  --border-button-color: 1px solid #999;
  --hover-back-color-button: rgb(24, 17, 17);
  --border-note-color: 2px solid #000;
  --back-panel-color: #333;
  --panel-box-shadow: 0 0 10px #000;
  --panel-heading-color: rgb(255, 99, 71);
  --label-border-color: 1px solid #000;
  --error-color: rgb(255, 0, 0);
}
